In [15]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [2]:
data = pd.read_csv("cleaned.csv")
data.head()

,DistrictID,Autism,Kstudent,Rate,Area_km,LC11,LC21,LC2B,LC31,LC4,...,LC2B06,LC3106,LC406,LC5206,LC7106,LC806,LC906,RLC2B06,RLC406,RLC7106
0,1,1,338,2.96,11.3,0.04,8.81,17.41,0.00,60.02,...,17.29,0.00,60.57,2.59,10.70,0.00,0.00,1.729,6.057,1.070
1,2,54,5516,9.79,868.6,0.01,3.31,3.57,6.03,0.01,...,2.96,6.03,0.02,87.33,0.23,0.21,0.07,0.296,0.002,0.023
2,3,0,111,0.00,171.6,0.19,3.05,1.21,0.15,37.29,...,1.21,0.16,37.30,26.27,21.46,10.02,0.33,0.121,3.730,2.146
3,4,16,6837,2.34,169.0,0.17,5.07,9.46,0.04,19.55,...,9.18,0.04,19.56,21.23,21.28,22.92,0.47,0.918,1.956,2.128
4,5,0,53,0.00,52.4,0.00,3.01,1.67,0.89,0.00,...,1.67,0.89,0.00,0.00,31.53,62.71,0.20,0.167,0.000,3.153

In [3]:
data.shape

(543, 47)

In [4]:
data.columns

Index(['DistrictID', 'Autism', 'Kstudent', 'Rate', 'Area_km', 'LC11', 'LC21',
       'LC2B', 'LC31', 'LC4', 'LC52', 'LC71', 'LC8', 'LC9', 'Avecanopy',
       'Roadensity', 'Rd4', 'Pop', 'Popm', 'Popf', 'Malep', 'Femalep',
       'Popden', 'Age19l', 'Age65m', 'Whitep', 'Blackp', 'Asisanp', 'Unemploy',
       'Income_median', 'Income_sd_median', 'RLC2b', 'RLC4', 'RLC71',
       'Rcanopy', 'LC1106', 'LC2106', 'LC2B06', 'LC3106', 'LC406', 'LC5206',
       'LC7106', 'LC806', 'LC906', 'RLC2B06', 'RLC406', 'RLC7106'],
      dtype='object')

In [5]:
data_new = data[['DistrictID', 'Autism', 'Kstudent', 'Rate', 'Area_km', 'LC11', 'LC21',
       'LC2B', 'LC31', 'LC4', 'LC52', 'LC71', 'LC8', 'LC9', 'Avecanopy',
       'Roadensity', 'Rd4', 'Pop', 'Popm', 'Popf', 'Malep', 'Femalep',
       'Popden', 'Age19l', 'Age65m', 'Whitep', 'Blackp', 'Asisanp', 'Unemploy',
       'Income_median', 'Income_sd_median', 'RLC2b', 'RLC4', 'RLC71',
       'Rcanopy', 'LC1106', 'LC2106', 'LC2B06', 'LC3106', 'LC406', 'LC5206',
       'LC7106', 'LC806', 'LC906', 'RLC2B06', 'RLC406', 'RLC7106']]
data_new.head()

,DistrictID,Autism,Kstudent,Rate,Area_km,LC11,LC21,LC2B,LC31,LC4,...,LC2B06,LC3106,LC406,LC5206,LC7106,LC806,LC906,RLC2B06,RLC406,RLC7106
0,1,1,338,2.96,11.3,0.04,8.81,17.41,0.00,60.02,...,17.29,0.00,60.57,2.59,10.70,0.00,0.00,1.729,6.057,1.070
1,2,54,5516,9.79,868.6,0.01,3.31,3.57,6.03,0.01,...,2.96,6.03,0.02,87.33,0.23,0.21,0.07,0.296,0.002,0.023
2,3,0,111,0.00,171.6,0.19,3.05,1.21,0.15,37.29,...,1.21,0.16,37.30,26.27,21.46,10.02,0.33,0.121,3.730,2.146
3,4,16,6837,2.34,169.0,0.17,5.07,9.46,0.04,19.55,...,9.18,0.04,19.56,21.23,21.28,22.92,0.47,0.918,1.956,2.128
4,5,0,53,0.00,52.4,0.00,3.01,1.67,0.89,0.00,...,1.67,0.89,0.00,0.00,31.53,62.71,0.20,0.167,0.000,3.153

In [8]:
X = data_new
print(X.head())
y = data_new.Rate
print(y.head())

   DistrictID  Autism  Kstudent  Rate  Area_km  LC11  LC21   LC2B  LC31  \
0           1       1       338  2.96     11.3  0.04  8.81  17.41  0.00
1           2      54      5516  9.79    868.6  0.01  3.31   3.57  6.03
2           3       0       111  0.00    171.6  0.19  3.05   1.21  0.15
3           4      16      6837  2.34    169.0  0.17  5.07   9.46  0.04
4           5       0        53  0.00     52.4  0.00  3.01   1.67  0.89

     LC4   ...     LC2B06  LC3106  LC406  LC5206  LC7106  LC806  LC906  \
0  60.02   ...      17.29    0.00  60.57    2.59   10.70   0.00   0.00
1   0.01   ...       2.96    6.03   0.02   87.33    0.23   0.21   0.07
2  37.29   ...       1.21    0.16  37.30   26.27   21.46  10.02   0.33
3  19.55   ...       9.18    0.04  19.56   21.23   21.28  22.92   0.47
4   0.00   ...       1.67    0.89   0.00    0.00   31.53  62.71   0.20

   RLC2B06  RLC406  RLC7106
0    1.729   6.057    1.070
1    0.296   0.002    0.023
2    0.121   3.730    2.146
3    0.918   1.956    2.128
4    0.167   0.000    3.153

[5 rows x 47 columns]
0    2.96
1    9.79
2    0.00
3    2.34
4    0.00
Name: Rate, dtype: float64

In [9]:
# follow the usual sklearn pattern: import, instantiate, fit
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [10]:
print(lm.intercept_)
print(lm.coef_)

3.34621255149159e-08
[-3.09454772e-15  5.76713641e-13 -5.13928716e-15  1.00000000e+00
  7.79597072e-15 -2.75801776e-11 -2.62422054e-11 -2.66618787e-11
 -2.67043279e-11 -2.64463037e-11 -2.68858622e-11 -2.65345769e-11
 -2.67966507e-11 -2.68374246e-11 -1.30353624e-13  4.82078412e-12
  3.35584231e-13  4.65886123e-13 -4.65678048e-13 -4.66271718e-13
 -3.07814736e-10 -3.07710304e-10 -1.38588350e-15  2.11254065e-14
 -1.95328914e-13  1.64773326e-13 -3.08462849e-13  2.71203387e-13
 -6.57923650e-13 -1.85757542e-16 -2.23485418e-16 -2.75319149e-12
 -2.64024559e-12 -2.63785929e-12 -1.20473113e-14  1.51956627e-13
 -8.76063887e-14 -7.11702593e-16 -1.13890450e-13 -5.24707989e-14
  3.35650073e-14 -7.55442879e-15 -6.86234413e-14 -1.94917565e-13
 -6.48880529e-16 -7.58230141e-15 -1.04479479e-15]

In [11]:
    
from sklearn import cross_validation
x_train,x_test,y_train,y_test  = cross_validation.train_test_split(X,y)

print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(407, 47) (136, 47) (407,) (136,)

C:\Users\veliv\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [16]:
lm.fit(x_train, y_train)
print("mean Square Error vale is %.2f"%np.mean((lm.predict(x_test)-y_test)**2))

mean Square Error vale is 0.00

In [19]:

#variance

print("variance is %.2f"%lm.score(x_test,y_test))

variance is 1.00

In [20]:
predictions = lm.predict(x_test)
print(predictions)

[ 2.23400000e+01  8.18000000e+00  1.76800000e+01  1.06124865e-12
  1.52100000e+01  1.11100000e+01  1.35000000e+00  1.27100000e+01
  1.32460868e-13  1.21200000e+01 -1.56045326e-12  2.86002559e-12
  6.50000000e+00  6.49000000e+00  1.12500000e+01  9.75000000e+00
 -8.98800903e-12  1.80098027e-12  2.41000000e+00  1.04300000e+01
 -1.13303087e-12  3.30933318e-13  6.50000000e+00 -1.97403082e-12
  3.62000000e+00  4.67000000e+00  1.31400000e+01 -2.57007194e-12
  1.69500000e+01  5.31000000e+00  3.24000000e+00  8.81000000e+00
  8.10000000e+00  9.89366518e-12 -5.35231097e-12  5.67000000e+00
  2.22955576e-12 -1.60435056e-12  1.13500000e+01  1.05300000e+01
  9.98331582e-13  9.79000000e+00  8.93000000e+00  2.89900000e+01
  1.14100000e+01  1.05947253e-12  3.14000000e+00  8.44000000e+00
  1.27100000e+01  1.10300000e+01  1.76000000e+00 -1.79278304e-12
 -5.29661000e-12  1.12264354e-12  3.78832617e-12  4.16700000e+01
  9.07000000e+00 -6.07075342e-12  1.28200000e+01  7.65000000e+00
  2.07000000e+00  7.04000000e+00  9.17000000e+00  5.22165952e-13
 -2.96182708e-13  4.60876837e-12  1.55900000e+01  4.59000000e+00
  1.13600000e+01  7.38000000e+00  1.14000000e+01  4.89000000e+00
  2.15394342e-12  9.54366581e-13  8.00000000e+00  8.24000000e+00
  3.80000000e+00 -3.16862853e-13  8.39000000e+00  1.86100000e+01
  2.64000000e+00  1.62838214e-12  8.68000000e+00  1.69874314e-13
  5.83000000e+00  7.24000000e+00 -6.93192305e-13 -4.43049379e-14
  6.26535980e-13  3.17000000e+00 -2.12275696e-12  1.75000000e+00
  8.19000000e+00  6.82000000e+00 -2.96192893e-12  2.93533804e-12
 -5.17351038e-12  3.57100000e+01  1.93044565e-12  2.06217347e-12
 -1.89834867e-13  1.54321600e-12  6.01000000e+00  9.89000000e+00
  1.28300000e+01  3.62000000e+00  2.03605675e-12  6.21000000e+00
  5.25000000e+00  1.00200000e+01  2.77977704e-12  7.69000000e+00
 -1.01841660e-12 -7.69819717e-13  4.96000000e+00  3.13000000e+00
  1.30700000e+01  2.77538208e-12  4.21551978e-12  3.76000000e+00
  2.47124233e-12  4.22000000e+00  1.62999256e-13  7.73000000e+00
  8.95000000e+00  2.10576191e-12  3.95000000e+00 -3.49932945e-13
  2.12400000e+01  1.19400000e+01  1.82000000e+01  1.00500000e+01
 -9.72096456e-13  2.87000000e+00  3.55000000e+00  4.76000000e+00]

In [21]:
lm.score(x_train,y_train)

1.0

In [22]:
lm.score(x_test,y_test)

1.0