In [1]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [2]:
data = pd.read_csv("cleaned.csv")
data.head()

,DistrictID,Autism,Kstudent,Rate,Area_km,LC11,LC21,LC2B,LC31,LC4,...,LC2B06,LC3106,LC406,LC5206,LC7106,LC806,LC906,RLC2B06,RLC406,RLC7106
0,1,1,338,2.96,11.3,0.04,8.81,17.41,0.00,60.02,...,17.29,0.00,60.57,2.59,10.70,0.00,0.00,1.729,6.057,1.070
1,2,54,5516,9.79,868.6,0.01,3.31,3.57,6.03,0.01,...,2.96,6.03,0.02,87.33,0.23,0.21,0.07,0.296,0.002,0.023
2,3,0,111,0.00,171.6,0.19,3.05,1.21,0.15,37.29,...,1.21,0.16,37.30,26.27,21.46,10.02,0.33,0.121,3.730,2.146
3,4,16,6837,2.34,169.0,0.17,5.07,9.46,0.04,19.55,...,9.18,0.04,19.56,21.23,21.28,22.92,0.47,0.918,1.956,2.128
4,5,0,53,0.00,52.4,0.00,3.01,1.67,0.89,0.00,...,1.67,0.89,0.00,0.00,31.53,62.71,0.20,0.167,0.000,3.153

In [3]:
data.columns

Index(['DistrictID', 'Autism', 'Kstudent', 'Rate', 'Area_km', 'LC11', 'LC21',
       'LC2B', 'LC31', 'LC4', 'LC52', 'LC71', 'LC8', 'LC9', 'Avecanopy',
       'Roadensity', 'Rd4', 'Pop', 'Popm', 'Popf', 'Malep', 'Femalep',
       'Popden', 'Age19l', 'Age65m', 'Whitep', 'Blackp', 'Asisanp', 'Unemploy',
       'Income_median', 'Income_sd_median', 'RLC2b', 'RLC4', 'RLC71',
       'Rcanopy', 'LC1106', 'LC2106', 'LC2B06', 'LC3106', 'LC406', 'LC5206',
       'LC7106', 'LC806', 'LC906', 'RLC2B06', 'RLC406', 'RLC7106'],
      dtype='object')

In [4]:
data_new = data[['DistrictID', 'Autism', 'Kstudent', 'Rate', 'Area_km', 'LC11', 'LC21',
       'LC2B', 'LC31', 'LC4', 'LC52', 'LC71', 'LC8', 'LC9', 'Avecanopy',
       'Roadensity', 'Rd4', 'Pop', 'Popm', 'Malep', 'Femalep',
       'Popden', 'Age19l', 'Age65m', 'Whitep', 'Blackp', 'Asisanp', 'Unemploy',
       'Income_median', 'Income_sd_median', 'RLC2b', 'RLC4', 'RLC71',
       'Rcanopy']]
data_new.head()

,DistrictID,Autism,Kstudent,Rate,Area_km,LC11,LC21,LC2B,LC31,LC4,...,Whitep,Blackp,Asisanp,Unemploy,Income_median,Income_sd_median,RLC2b,RLC4,RLC71,Rcanopy
0,1,1,338,2.96,11.3,0.04,8.81,17.41,0.00,60.02,...,95.72,0.67,2.77,3.58,65139,6.5139,1.741,6.002,1.095,4.674
1,2,54,5516,9.79,868.6,0.01,3.31,3.57,6.03,0.01,...,62.33,17.81,4.68,16.71,50395,5.0395,0.357,0.001,0.023,0.002
2,3,0,111,0.00,171.6,0.19,3.05,1.21,0.15,37.29,...,73.65,1.83,0.40,6.30,75903,7.5903,0.121,3.729,2.142,3.225
3,4,16,6837,2.34,169.0,0.17,5.07,9.46,0.04,19.55,...,68.23,1.37,6.24,13.83,48597,4.8597,0.946,1.955,2.127,1.393
4,5,0,53,0.00,52.4,0.00,3.01,1.67,0.89,0.00,...,63.33,21.43,0.00,47.56,19375,1.9375,0.167,0.000,3.053,0.000

In [6]:
X = data_new
X.head()

,DistrictID,Autism,Kstudent,Rate,Area_km,LC11,LC21,LC2B,LC31,LC4,...,Whitep,Blackp,Asisanp,Unemploy,Income_median,Income_sd_median,RLC2b,RLC4,RLC71,Rcanopy
0,1,1,338,2.96,11.3,0.04,8.81,17.41,0.00,60.02,...,95.72,0.67,2.77,3.58,65139,6.5139,1.741,6.002,1.095,4.674
1,2,54,5516,9.79,868.6,0.01,3.31,3.57,6.03,0.01,...,62.33,17.81,4.68,16.71,50395,5.0395,0.357,0.001,0.023,0.002
2,3,0,111,0.00,171.6,0.19,3.05,1.21,0.15,37.29,...,73.65,1.83,0.40,6.30,75903,7.5903,0.121,3.729,2.142,3.225
3,4,16,6837,2.34,169.0,0.17,5.07,9.46,0.04,19.55,...,68.23,1.37,6.24,13.83,48597,4.8597,0.946,1.955,2.127,1.393
4,5,0,53,0.00,52.4,0.00,3.01,1.67,0.89,0.00,...,63.33,21.43,0.00,47.56,19375,1.9375,0.167,0.000,3.053,0.000

In [7]:
y = data_new['Rate']
y.head()

0    2.96
1    9.79
2    0.00
3    2.34
4    0.00
Name: Rate, dtype: float64

In [14]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
from sklearn.preprocessing import PolynomialFeatures
polyFeature = PolynomialFeatures(degree = 4)
poly_matrix = polyFeature.fit_transform(X)

In [21]:
lm2 = LinearRegression()
lm2.fit(poly_matrix,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [70]:
from sklearn import cross_validation
x_train,x_test,y_train,y_test  = cross_validation.train_test_split(X,y)

print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)
print(y_test)

(407, 34) (136, 34) (407,) (136,)
501    12.12
278     0.00
105     0.00
234     3.27
256    15.21
409     8.96
290    16.95
339     3.66
288     9.64
398     4.22
80     11.23
513    13.22
421     1.35
113    18.62
19      2.63
392     0.00
449    16.15
397     0.00
101     0.00
302     8.61
450     3.68
535     0.00
204     0.00
505     8.57
282     0.00
366     8.99
109    27.03
380     0.00
388     2.66
365     2.48
       ...
33     21.09
206     0.00
29      3.31
118    12.66
230     6.97
226     0.00
406     6.62
537    14.43
427    12.75
169     0.00
172     0.00
124    18.67
140    11.29
115     0.00
61      9.89
507     8.68
185     6.01
249     3.14
157    14.48
251     4.59
192     2.93
506     0.00
143    11.80
367     0.00
298    16.13
147     6.71
13     11.92
71      0.00
10      0.00
324     7.47
Name: Rate, Length: 136, dtype: float64

In [23]:
predict_poly = lm2.predict(polyFeature.fit_transform(x_test))
print(predict_poly)

[-4.80704898e-09  1.04432019e-07  5.66999999e+00  5.99000002e+00
 -3.95451139e-09 -6.34128128e-09  8.77000000e+00  4.29000000e+00
  2.91000000e+00  4.76617856e-09 -3.73429998e-09 -4.59581884e-09
  6.36370601e-09 -2.90688718e-09  2.57247734e-09  3.55000000e+00
  1.42134127e-09  7.23999999e+00  1.02600000e+01  3.12999998e+00
  2.86999999e+00  7.19999985e-01  2.38600000e+01  2.07000000e+00
  6.99000000e+00  8.23000000e+00  1.35400000e+01 -1.81498194e-09
  5.25000000e+00  1.31400000e+01 -9.58866053e-09  1.04300000e+01
  6.21000000e+00  8.44000002e+00  2.43900000e+01  1.53800000e+01
  7.04000005e+00  2.91300000e+01  9.78999999e+00 -4.86247131e-09
  9.74999999e+00  1.32300000e+01 -8.28327984e-09  7.89500000e+01
  6.50000001e+00  3.95999999e+00  1.29200000e+01  7.05000000e+00
  1.13600000e+01  3.75415254e-09  1.18100000e+01  4.76000000e+00
  5.14999999e+00  1.35900000e+01  8.93000000e+00  3.20999999e+00
  1.53100000e+01  1.69500000e+01 -1.21897870e-09 -9.98934979e-09
  8.00000000e+00  9.05000000e+00  8.67999999e+00 -1.05492859e-08
  1.30700000e+01 -2.15955254e-08  1.52700000e+01  4.53107418e-09
  1.03100000e+01  1.19200000e+01  8.39000000e+00  6.62000002e+00
  1.28300000e+01  1.43500000e+01  5.58000002e+00  2.68616418e-09
 -7.39484562e-09  8.57000004e+00  1.78700001e+01 -1.36183331e-09
  4.02999996e+00  1.48600000e+01  8.19000001e+00  2.64000000e+00
  1.38000000e+01  3.09680104e-09  1.92224547e-09  1.76000001e+00
  1.61300000e+01  2.96000001e+00  1.19400000e+01  9.89000000e+00
  5.60700000e+01 -6.55109034e-09 -4.20985202e-09  8.61000000e+00
  1.31000000e+01 -1.75014350e-08  9.37999999e+00  5.49000000e+00
 -1.08614415e-08  1.18000000e+01  9.80000002e+00  1.52463429e-08
  1.09799996e+01  5.16400000e+01  9.95000002e+00  1.12900000e+01
 -3.10328119e-09  1.42900000e+01  9.12999999e+00  3.77960419e-09
  3.59000001e+00  3.79000000e+00  8.56999999e+00  1.22392692e-08
  1.52100000e+01  4.23321467e-09  7.99999999e+00  8.39000000e+00
 -1.13275576e-08  7.73000003e+00  8.83000002e+00 -1.44388252e-08
  6.53000000e+00  4.11999999e+00  1.74263448e-09 -8.29223268e-09
  1.23900000e+01  1.21200000e+01 -3.45633566e-09  6.42000000e+00
  4.85000000e+00  6.94000000e+00  8.82408813e-10  7.34999997e+00]

In [24]:
lm2.score(poly_matrix,y)

1.0

In [39]:
lm.score(X,y)

1.0

In [46]:
data1_new = data[['LC1106', 'LC2106', 'LC2B06', 'LC3106', 'LC406', 'LC5206',
       'LC7106', 'LC806', 'LC906', 'RLC2B06', 'RLC406', 'RLC7106']]
X1 = data1_new
y1 = data['Rate']

In [56]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X1, y1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [57]:
from sklearn.preprocessing import PolynomialFeatures
polyFeature = PolynomialFeatures(degree = 5)
poly_matrix1 = polyFeature.fit_transform(X1)

In [58]:
lm3 = LinearRegression()
lm3.fit(poly_matrix1,y1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [59]:
from sklearn import cross_validation
x1_train,x1_test,y1_train,y1_test  = cross_validation.train_test_split(X1,y1)

print(x1_train.shape, x1_test.shape, y1_train.shape, y1_test.shape)

(407, 12) (136, 12) (407,) (136,)

In [60]:
predict_poly1 = lm3.predict(polyFeature.fit_transform(x1_test))
print(predict_poly1)

[ 7.04000000e+00  1.49300000e+01  9.75000000e+00  4.98000000e+00
 -6.18456397e-11  5.65000000e+00  2.51020538e-10  7.36000000e+00
  6.39000000e+00  3.52883944e-10  1.89174898e-10  1.05300000e+01
  8.18000000e+00  3.67435860e-10  1.06400000e+01  5.82076609e-11
  1.56200000e+01  5.71162673e-10  1.35000000e+00  1.19400000e+01
 -1.85536919e-10  3.80000000e+00  1.94000000e+00  3.89263732e-10
  1.35700000e+01  8.09000000e+00  1.03100000e+01  1.11100000e+01
 -6.91215973e-11  1.86900000e+01  9.82000000e+00  1.69500000e+01
  5.88000000e+00  2.10900000e+01  1.10300000e+01  3.29000000e+00
  8.23000000e+00  4.41000000e+00  7.35000000e+00  1.82000000e+01
  4.83851181e-10  3.65000000e+00  3.96000000e+00  2.65000000e+00
  1.61300000e+01 -2.61934474e-10  3.52883944e-10  6.00266503e-10
  2.65572453e-10  2.58296495e-10  1.18100000e+01  3.53000000e+00
  8.68000000e+00  1.93000000e+00  7.50000000e+00  2.12800000e+01
  2.21916707e-10  1.49700000e+01  9.80000000e+00  5.25000000e+00
  7.89441401e-10  1.42000000e+01  1.39800000e+01  1.09800000e+01
 -2.08456186e-09 -2.58296495e-10  2.87000000e+00  4.59000000e+00
  3.17000000e+00  6.15000000e+00  1.30700000e+01  9.64000000e+00
  6.71000000e+00  5.22000000e+00  4.98000000e+00  5.49000000e+00
  8.44000000e+00  8.40000000e+00 -6.29370334e-10  2.89900000e+01
  3.14000000e+00  6.00266503e-10 -2.72848411e-10  8.93000000e+00
  3.13000000e+00 -3.45607987e-10  1.35900000e+01  8.03993316e-10
 -4.03815648e-10  1.28300000e+01  7.69000000e+00  1.86700000e+01
  1.22000000e+01  1.26400000e+01  6.95000000e+00  2.03726813e-10
 -4.47471393e-10  6.87577995e-10  1.03500000e+01  4.40195436e-10
  2.07364792e-10  6.18456397e-11  1.26600000e+01 -4.51109372e-10
  1.50300000e+01  8.67000000e+00  4.65000000e+00  1.17600000e+01
  1.06000000e+01  1.52700000e+01 -1.70985004e-10  4.11091605e-10
  6.28000000e+00  4.79000000e+00  1.41881173e-10  1.10600000e+01
  2.07000000e+00  1.56000000e+00  1.62500000e+01  1.12500000e+01
  5.15000000e+00  5.51000000e+00  6.00266503e-10  6.29370334e-10
  1.14100000e+01  2.34000000e+00  8.99000000e+00  2.41000000e+00
  2.27000000e+00  1.12300000e+01 -1.85536919e-10  9.89000000e+00
  1.00000000e+01  2.14640750e-10  2.28000000e+00  7.38000000e+00]

In [61]:
lm3.score(poly_matrix1,y1)

1.0

In [66]:
lr.score(X1,y1)

0.11112804999789605